/* !!!!!!!!!!!!!!!!!!!! */
/* LAYOUT HELPERS */
/* !!!!!!!!!!!!!!!!!!!! */

/* These are provided here to give you a minimum starting point for a layout */

#container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex-grow: 0;
  flex-basis: 100%;

  box-sizing: border-box;
  /* cursor: pointer; */

  /* visual helper */
  /* border: 1px dotted pink; */
}

/* adjustments for medium screens, like some tablets or landscape on a mobile */
@media (min-width: 576px) {
  .item {
    flex-basis: 50%;
  }
}

/* adjustments for medium-large screens, like some tablets */
@media (min-width: 768px) {
  .item {
    flex-basis: 50%;
  }
}

/* adjustments for large screens, like laptops and desktops */
@media (min-width: 992px) {
  #container {
    width: 992px;
    margin: 0 auto;
  }

  .item {
    flex-basis: 33.3333333333333%;
  }
}

body {
  background: none;
  color: #ececec;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  background: rgb(102,9,121);
  background: linear-gradient(156deg, rgba(102,9,121,1) 0%, rgba(96,0,255,1) 100%);
  /* background-repeat: no-repeat; */
  background-position: center; 
  background-size: calc(100% + 100vw) calc(100% + 100vh);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 2rem 0 2rem 0;
}

h2 {
  text-align:center;
  margin: 0;
  margin: 0.5rem 0 0.5rem 0;
}

h3 {
  text-align:center;
  margin: 2px;
  color: grey;
  font-size: 1em;
}
.data li {
  font-size: 1.1em;
  list-style: none;
  margin-bottom:0.5em;
}
.data ul {
  padding:0;
}
.data {
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
  background: #fffffff5;
  color: rgb(24, 24, 24);
  display: block;

  margin: 15px;
  padding: 10px;
  height: 250px;
  /* visual helper */
  /* border: 1px dotted blueviolet; */
  box-shadow: 0px 5px 10px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: box-shadow 0.15s, transform 0.15s;
}

.data:hover {
  box-shadow: 0px 7px 12px;
  transform: translateY(-2px);
}

/* .data:active {
  box-shadow: 0px 0px 1px;
  transform: translateY(1px);
} */